@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body, html{
    background: #000;
    overflow-x: hidden;
}
:root{
    --principal-color: #ec1616;
    --bg-color: #333;
    --bg-color-principal: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));

}
.hero-content{
    background: var(--bg-color);
    color: #ccc;
    font-weight: bolder;
}
.container-hero{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.logo span{
    color: var(--principal-color);
}
.logo img{
    width: 40px;
    
}
.nav-itens{
    display: flex;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 30px;
}
.nav-itens li a{
    text-decoration: none;
    color: #ccc;
    /* padding: 10px; */
}
.nav-itens li{
    position: relative;
}
.nav-itens li::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--principal-color);
    display: inline-block;
    transition: .3s linear;
}
.nav-itens li:hover::after{
    width: 100%;
}
.itens{
    display: flex;
    align-items: center;
    justify-content: center;
}
#openMenu{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    position: relative;
}
.itens i{
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}
.itens i:hover{
    color: var(--principal-color);
}
.nav-mobile {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100dvh;
    z-index: 5;
    background: linear-gradient(rgba(0, 0, 0, .6));
}
.nav-itens-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease-in-out;
    width: 100%;
}
.nav-mobile.active {
    transform: translateX(0);
}
.nav-itens-mobile li a{
    padding: 10px;
}
/* ESTILIZANDO MAIN */
.main-content{
    background-color: #000;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img/img-principal.png);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    position: relative;
}
.container-main{
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.container-main h1{
    font-size: 40px;
    max-width: 600px;
    text-wrap: nowrap;
    line-height: 45px;
    margin-bottom: 14px;
}
.span-red{
    color: var(--principal-color);
}
.agendar-btn{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border: 1px solid var(--principal-color);
    margin-top: 12px;
    display: inline-block;
    font-weight: bolder;
    /* border-radius: 10px; */
    transition: .3s linear;
    font-weight: 500;
}
.agendar-btn:hover{
    transform: scale(.9);
}
.main-itens{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.icons a{
    text-decoration: none;
    color: #fff;
    position: relative;
}
.icons i{
    font-size: 24px;
}
.icons i::after{
    content: '';
    height: 2px;
    position: absolute;
    background-color: var(--principal-color);
    width: 0;
    bottom: -1px;
    left: 0;
    display: inline-block;
    transition: .3s linear;
}
.icons i:hover::after{
    width: 100%;
}
.arrow-down-btn{
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--principal-color);
}
.arrow-down-btn i{
    border: 1px solid var(--principal-color);
    padding: 10px;
    border-radius: 10px;
}
.efect-icons{
    height: 20px;
    width: 4px;
    background-color: var(--principal-color);
    margin-left:  8px;
}

/* ESTILIZANDO SECTIONS */
.section-content{
    margin-top: 30px;
}
.section-content h2{
    color: #fff;
    text-align: center;
    position: relative;
    width: 250px;
    margin: 0 auto;
    font-size: 45px;
    
}
.section-content h2::after{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    background-color: var(--principal-color);
    width: 100%;
    height: 2px;
}
.container-section{
    max-width: 1400px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
}
.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.cards{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}
.cards img{
    width: 70px;
    object-fit: cover;
    padding-bottom: 14px;
}
.cards h3{
    padding: 10px;
}
.cards p{
    padding: 10px 0px;
    max-width: 260px; /* ajuste conforme seu design */
    margin: 0 auto;   /* centraliza o bloco */
    text-align: justify;
    word-break: break-word;
    color: #ccc;
}
@media screen and (min-width:312px) and (max-width:416px){
    .navbar{
        display: none;
    }
    #openMenu{
        margin-right: 15px;
    }
    .nav-mobile{
        top: 60px;
        width: 100%;
    }
    .main-text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .main-text h1{
        font-size: 25px;
        width: 100%;
        text-align: center;
        line-height: 35px;
        /* padding: 10px; */
    }
    .agendar-btn{
        font-size: 14px;
    }
    .icons{
        display: none;
    }
    .container-cards{
        flex-direction: column;
    }
    .cards{
        width: 90%;
    }
}